* {

    box-sizing: border-box;

    margin: 0;

    padding: 0;

}

ul {

    list-style: none;

}

a {

    text-decoration: none;

}

:root {

    --white: #FFF;

    --black: #000;

    --dark-100: #323232;

    --red-100: #b10333;

    --red-200: #69001d;

    --blue-100: #294c71;

    --gray-200: #777;

    --gray-100: #ccc;

    --font-body: 'Trebuchet MS', Healvetica, sans-serif;

}

body {

    background: var(--white) url(../images/fundo.png) repeat-x;

    font-family: var(--font-body);  

}

h2.title-content {

    background-color: var(--blue-100);

    color: var(--white);

    font-size: 1rem;
    
    font-weight: 900;

    padding: 0.5rem;

}

/* CONTAINER */

.container {

    margin: 0 auto;

    width: 890px;

}

/* HEADER */

.topo {

    background: url(../images/detalhe-topo.png) no-repeat right top;
    
    height: 175px;

    padding: 2rem 0.5%;
}

.logo {


    background: url(../images/logo.png) no-repeat center;

    height: 66px;

    text-indent: -3000px;

    width: 152px;

}

nav ul {

    align-items: center;

    background-color: var(--red-100);

    display: flex;
    
    margin-top: 1.7rem;

    justify-content: flex-start;

    max-width: max-content;
}

nav ul li a {

    background: url(../images/divisor.png) no-repeat left center;
    
    color: var(--white);

    display: inline-block;

    font-size: 0.75rem;

    font-weight: 900;

    padding: 0.6rem  2.1rem;

}

nav ul li a:hover {

    background-color: var(--red-200);

}

nav ul li:first-child a {

    background: none;

}

#home .home a,
#brasil .brasil a,
#internacional .internacional a,
#fotos .fotos a {

    background-color: var(--red-200);

}

/* MAIN */

.content {

    display: flex;

    margin: 5rem 0;

    justify-content: space-between;

}

aside {

    flex: 1;

    max-width: 24%;

    margin-right: 1%;

    padding: 0 2% 0 0;

}


aside form label {
    
    color: var(--black);

    display: block;

    font-weight: 900;

    font-size: 0.83rem;

    padding: 0.4rem 0;
}

aside form input {

    border: 1px solid var(--gray-100);
    
    padding: 0.4rem;

}


aside form input[type='submit'] {

    border: 0;

    background-color: var(--red-100);

    color: var(--white);

    display: inline-block;

    font-size: 0.83rem;

    margin-top: 0.5rem;

    max-width: max-content;

    margin-left: auto;
}


aside a {

    color: var(--dark-100);

    display: inline-block;

    font-size: 0.83rem;

    padding: 0.4rem 0.2rem;

    position: relative;

    transition: all .2s linear;
}

aside a:hover {

    color: var(--gray-200);

    padding-left: 1rem;

}

aside a:hover::before {

    content: url(../images/marcador.png);

    position: absolute;

    left: -4px;

    width: 25px;

}

main {

    width: 75%;

}

main .flex-container {

    display: flex;

    flex: 1;

    justify-content: space-between;

}


main .content-1,
main .content-2 {

    flex: 1;

    width: 50%;
    
}

main .content-1 {
    
    margin-right: 2%;

    margin-bottom: 1.5rem;
    
}

main .content-2 {

    margin-left: 2%;

    margin-bottom: 1.5rem;

}

.content-enterview {

    color: var(--dark-100);

    position: relative;

    padding: 0.2rem;

    font-size: 1rem;

}

.enterview-author {

    background-color: var(--red-100);

    color: var(--white);

    display: inline-block;

    font-size: 0.75rem;

    font-weight: 900;

    margin: 0.3rem 0;
    
    padding: 0.3rem 3rem 0.3rem 0.3rem;

}

.content-enterview img {

    max-width: 100%;

}

.enterview-link {

    color: var(--red-200);

    display: inline-block;

    font-size: 0.83rem;

    padding: 0.4rem 0;
}


.content-1 .flex-container,
.content-2 .flex-container {

    padding: 0.6rem 0.4rem;
}


.content-1 .flex-container .item-1,
.content-2 .flex-container .item-1  {

    flex: 1;

}

.content-1 .flex-container .item-1 img,
.content-2 .flex-container .item-1 img {
    
    max-width: 100%;

}

.flex-container .item-2 {

    padding: 0.4rem;

    flex: 2;

    font-size: 0.83rem;

}

/* FOOTER */

footer {

    color: var(--white);

    background-color: var(--blue-100);

    font-size: 1rem;

    font-weight: 900;

    padding: 0.8rem 0;
}